body {background-color: #141414; font-family: sans-serif;font-size: 13px; color: #cccccc;}
h1{font-size:34px;}
h2{font-size:21px;}
/*Content box is used to center the page*/
#contentbox{width:803px;margin: auto;}

/* HEADER */
#contentbox #header{	background: url("img/header.png"); height: 150px; width : 800px; border: 1px solid #000000; background-color: #333333;}

/* MENU */
#contentbox #meny{width: 800px; height: 40px; margin-top: 5px; border: 1px solid #000000; background-color: #333333; text-align: center; padding-top: 10px;}
#contentbox #meny nav a{color: #cccccc; font-size: 21px; margin: 50px; text-decoration: none}
#contentbox #meny nav{color: #cccccc; font-weight:bold; font-size: 25px; margin: 0px 15px 0px 25px;} 

/* CONTENT */
#contentbox #content{margin-top: 5px; min-height: 200px; width: 770px; border: 1px solid #000000; background-color: #333333; overflow: auto; text-align: justify; padding: 15px;}
#contentbox #content a{color: #009933; text-decoration:none; font-weight: bold;}
#contentbox #content a:hover{text-decoration: underline;}
#contentbox #content ul.cvPersonal li{clear:both; list-style: none;}
#contentbox #content ul.cvPersonal li div{float:left; width:150px;}
#contentbox #content ul.cvStandard li{clear:both; list-style: none;}
#contentbox #content ul.cvStandard li div{font-weight:bold;}
#contentbox #content ul.cvStandard span{margin-left:15px; display:block;}
#contentbox #content ul.contact li{clear:both; list-style: none;}
#contentbox #contact img.mail {padding-top: 5px;}

/* SUBMENU, only used in Portfolio */
#contentbox #content #submeny {float: left; width: 125px;}
#contentbox #content #submeny nav{padding: 5px;}
#contentbox #content #submeny nav a{color: #cccccc; text-decoration:none; display:block;}
#contentbox #content #submeny nav b{color: #cccccc; display:block; font-size:16px;} 
/* Text container and img/figure container for Portfolio*/
#contentbox #content #portFolioContent{width: 644px; float: left; min-height: 200px; border-left: 1px solid #cccccc;}
#contentbox #content #portFolioContent img{width: 630px; border: 1px solid #000000; margin: 0px; padding: 0px;}
#contentbox #content #portFolioContent img.noborder{border: 0px; width:100%; height:100%;}
#contentbox #content #portFolioContent img.CCommon{border: 0; width: 80px; height: 15px;}
#contentbox #content #portFolioContent figure{margin: 0;}
#contentbox #content #portFolioContent figcaption{margin: 0 0 10px 0;}
#contentbox #content #portFolioContent figcaption.border-et{border: 1px solid #cccccc; width: 630px;}
#contentbox #content #portFolioContent figcaption.border-et img{display:block;}
#contentbox #content #portFolioContent div.text{padding-left: 5px; text-align:justify;}

/* Front page specific values and functions */
#contentbox #content img.profile{display:block} /*Text to the right of img*/
/*#contentbox #content #aboutMe {clear:both;}*/
#contentbox #content #aboutMe .profileText{float: left; width: 500px; margin-left: 10px;}
#contentbox #content #aboutMe .profileImg{float: left; border: 1px solid #cccccc;}

/* FOOTER */
#contentbox #footnote{margin-top: 5px; padding-left: 15px; clear: both; width: 785px; height: auto; border: 1px solid #000000; background-color: #333333;}
#contentbox #footnote #footerContent a{color: #009933; text-decoration:none; font-weight: bold;}
#contentbox #footnote #footerContent a:hover{text-decoration: underline;}